{% extends "brain_and_body/base.html" %}
{% load static %}

{% block link %} <link href="{% static 'brain_and_body/profile.css'%}" rel="stylesheet"> {% endblock %}

{% block title %} {{request.user.username|title}} stats {% endblock %}
{% block body %}
    <div class="profile-container">

        <div class="stats-container">
            <p class='p-m'>Memory: {{ stats.points_memory }}</p>
            <p class='p-s'>Reactivity: {{ stats.points_speed }}</p>
            <p class='p-w'>Workout: {{ stats.points_workout }}</p>
            <p class='p-t'>Tabata: {{ stats.points_tabata }}</p>
        </div>
        <div class='svg-container'>
            <svg></svg>
        </div>
    </div>

    <hr>

    <div class="exercises-container">
        <div>
            <h4> Upper body </h4>
            {% for e in exercises %}
                {% if e.category == 'Upper Body' %}
                    <div>
                        <p>{{ e.name }} {% if e.isCardio %}(cardio){% endif %}</p>
                        <span data-id="{{ e.id }}">x</span>
                    </div>
                {% endif %}
            {% endfor %}
            <hr>
            <h4> Lower body </h4>
            {% for e in exercises %}
                {% if e.category == 'Lower Body' %}
                    <div>
                        <p>{{ e.name }} {% if e.isCardio %}(cardio){% endif %}</p>
                        <span data-id="{{ e.id }}">x</span>
                    </div>
                {% endif %}
            {% endfor %}
            <hr>
            <h4> Full body </h4>
            {% for e in exercises %}
                {% if e.category == 'Full Body' %}
                    <div>
                        <p>{{ e.name }} {% if e.isCardio %}(cardio){% endif %}</p>
                        <span data-id="{{ e.id }}">x</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="div-form"> 
            <form action="{% url 'add_exercise' %}" method="POST">
                {% csrf_token %}
                <h4 id='add-exercise'> Add a new exercise: </h4>
                {{ form.as_p }}
                <button class='btn btn-info' type="submit">Add exercise</button>
            </form>
        </div>
    </div>
        
        {% endblock %}
        {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="{% static 'brain_and_body/profile.js' %}"></script>
{% endblock %}